h1, h2, a {
	font-family: 'Lato', sans-serif;
}

.hero {
	background-color: #015870;
	min-height: 100vh;
}
.hero h1, h2 {
	color: white;
}

.hero h1 {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 300;
}

.hero h2 {
	font-size: 26px;
	font-weight: 100;
}

.hero .has-padding {
	padding-top: 50px;
}

.navbar a {
	text-transform: uppercase;
}

.avatar img {
	border-radius: 50%;
  border: 3px #013442;
  border-style: groove;
}
.socialmedia {
  font-size: 20px;
}
.github {
  color: #4078c0;
}
.linkedin {
  color: #0e76a8;
}
.instagram {
  color: #8a3ab9;
}
.card-group {
  padding-top: 50px;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #013442; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08617a; 
}
/*End Custom scrollbar */
.portfoliocard {
  position: relative;
  min-width: 350px;
}
.portfolioimage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s cubic-bezier(1, 0, 1, 0.49);
  background-color: rgb(12, 21, 56);
  border-radius: 25px;
}
.portfoliocard:hover .overlay {
  opacity: 1;
}
.portfoliotext {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfoliocard a {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);