h1, h2, a {
	font-family: 'Lato', sans-serif;
}

.hero {
	background-color: #015870;
	min-height: 100vh;
}
.hero h1, h2 {
	color: white;
}

.hero h1 {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 300;
}

.hero h2 {
	font-size: 26px;
	font-weight: 100;
}

.hero .has-padding {
	padding-top: 50px;
}

.navbar a {
	text-transform: uppercase;
}

.avatar img {
	border-radius: 50%;
  border: 3px #013442;
  border-style: groove;
}
.socialmedia {
  font-size: 20px;
}
.github {
  color: #4078c0;
}
.linkedin {
  color: #0e76a8;
}
.instagram {
  color: #8a3ab9;
}
.card-group {
  padding-top: 50px;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #013442; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08617a; 
}